cat <<EOF > .gitignore
# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.env
*.env.local
*.env.prod

# Output
bin/
dist/

# Go workspace
go.work
go.work.sum

# IDE/editor files
.idea/
.vscode/
*.swp
.DS_Store
EOF
